@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Jost', serif;
  background-color: #f7f8fd;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .flex_between {
    @apply flex justify-between items-center;
  }

  .flex_row {
    @apply flex flex-row items-center;
  }

  .fill_bg {
    @apply bg-cover bg-no-repeat;
  }

  .toggle_modal {
    @apply cursor-pointer hover:opacity-80 transition-all;
  }

  .feedback_nav_item {
    @apply lg:py-[8px] lg:px-[18px] sm:py-2 sm:px-[13px] px-5 py-[10px] w-fit font-semibold rounded-[12px] text-center text-body-2;
  }

  .feedback_nav_item {
    @apply bg-purple-light text-blue;
  }

  .active_feedback_nav_item {
    @apply bg-blue text-white;
  }

  .flex_wrap {
    @apply flex flex-wrap gap-3 items-center;
  }

  .flex_center {
    @apply flex items-center gap-3;
  }

  .flex_col {
    @apply flex flex-col;
  }
}
